@page "/success/{username}"
@inject NavigationManager Nav

<h3>Registration Successful </h3>
<p>Welcome, <strong>@username</strong>!</p>

@code {
    [Parameter] public string? username { get; set; }
}
